<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout::navbar"></nav>
<div class="container vh-100 d-flex align-items-center justify-content-center">
    <div class="row">
        <div th:if="${error}" class="col-12 text-center">
            <div th:text="${error}" class="alert alerr-danger shadow"></div>
        </div>
        <div th:if="${logout}" class="col-12 text-center">
            <div th:text="${logout}" class="alert alert-success shadow"></div>
        </div>
        <div class="col-12 p-5 bg-contenido">
            <form method="POST" autocomplete="off" class="needs-validation" id="formulario"
                  th:action="@{/clientes/__${accion}__}" th:object="${cliente}">
                <div class="row">
                    <div class="col-12">
                        <input th:field="*{id}" type="hidden">
                        <div th:if="${error != null}" th:text="${error}" class="col-4 alert-danger fade show" role="alert"></div>
                        <div class="row pt-5 pb-4">
                            <div class="col-6">
                                <div class="fo rm-floating">
                                    <input placeholder="DNI" required th:field="*{dni}" class="form-control" id="dni" type="text">
                                    <label for="dni"></label>
                                    <div class="invalid-feedback">El DNI es obligatorio</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="fo rm-floating">
                                    <input placeholder="Nombre" required th:field="*{nombre}" class="form-control" id="nombre" type="text">
                                    <label for="nombre"></label>
                                    <div class="invalid-feedback">El nombre es obligatorio</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="fo rm-floating">
                                    <input placeholder="Apellido" required th:field="*{apellido}" class="form-control" id="apellido" type="text">
                                    <label for="apellido"></label>
                                    <div class="invalid-feedback">El apellido es obligatorio</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="f orm-floating">
                                    <input placeholder="Telefono" required th:field="*{telefono}" class="form-control" id="telefono" type="text">
                                    <label for="telefono"></label>
                                    <div class="invalid-feedback">El telefono es obligatorio</div>
                                </div>
                            </div>
                            <h2>Datos de la cuenta</h2>
                            <h1>ESTE NO SE ABRE</h1>
                            <div class="col-6">
                                <div class="fo rm-floating">
                                    <input placeholder="Usuario" name="username" class="form-control" id="username" type="text">
                                    <label for="username"></label>
                                    <div class="invalid-feedback">El username es obligatorio</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="fo rm-floating">
                                    <input placeholder="Contraseña" name="clave" class="form-control" id="clave" type="password">
                                    <label for="clave"></label>
                                    <div class="invalid-feedback">La clave es obligatoria</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-3">
                                    <button class="btn btn-success" th:text="${action == 'guardar'} ? 'Crear editorial' : 'Guardar cambios'"
                                            type="submit"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>